.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 88px;
    background-color: #a9a9a9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  #menu .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 100%;
    background: #333;
    z-index: 10;
  }
 ul li {
   list-style: none;
 }
  /* #menu {
    position: relative;
    height: 100%;
  } */

  #menu .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 100%;
    background: #333;
    z-index: 10;
  }
  .main_div{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg-pattern.jpg) center center;
  }

  .search_before::before{
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    top: 7px;
    left: 35px;
    font-size: 25px;
  }